*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    /* outline: 1px solid tomato; */
}

@font-face {
    font-family: outfit;
    font-size: 400;
    src: url('assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: outfit-semibold;
    font-size: 600;
    src: url('assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: outfit-bold;
    font-size: 700;
    src: url('assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
}

@font-face {
    font-family: youngserif;
    font-size: 400;
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

:root{
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);

    --step--3: clamp(0.5787rem, 0.5535rem + 0.1258vw, 0.651rem);
    --step--2: clamp(0.6944rem, 0.6643rem + 0.151vw, 0.7813rem);
    --step--1: clamp(0.8333rem, 0.7971rem + 0.1812vw, 0.9375rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1478rem + 0.2609vw, 1.35rem);
    --step-2: clamp(1.44rem, 1.3774rem + 0.313vw, 1.62rem);
    --step-3: clamp(1.728rem, 1.6529rem + 0.3757vw, 1.944rem);
    --step-4: clamp(2.0736rem, 1.9834rem + 0.4508vw, 2.3328rem);
    --step-5: clamp(2.4883rem, 2.3801rem + 0.5409vw, 2.7994rem);
}

body{
    font-family: outfit;
    color: var(--Stone900);
}

img{
    width: 100%;
}

.container-mobile{
    padding: 2rem;
}

h1{
    font-size: var(--step-3);
}

h2{
    font-size: var(--step-2);
}

p, li{
    line-height: 1.5;
    font-size: var(--step-0);
    color: var(--Stone600);
}

h1, h2{
    font-family: youngserif;
    font-weight: 500;
    margin-bottom: 1rem;
}

h2, li::marker{
    color: var(--Brown800);
    margin-top: 2rem;
}

li{
    margin-left: 1.2rem;
    padding-left: .5rem;
}

ul > * + *, ol > * + *{
    margin-top: .5rem;
}

.hero-box{
    background-color: var(--Rose50);
    padding: 1rem;
    margin-top: 2rem;
}

.hero-box p{
    color: var(--Rose800);
    margin-bottom: .5rem;
    font-weight: 700;
}

.instructions, .nutrition{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 2rem;
}

.nutrition p{
    margin-bottom: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr:not(:first-of-type){
    border-top: 1px solid rgba(0, 0, 0, .15);
}

td{
    padding-block: .5rem;
    padding-left: 1rem;
    color: var(--Stone600)
}

span{
    font-weight: 700;
}

table span{
    color: var(--Brown800);
}

.attribution {
    font-size: var(--step--3);
    text-align: center;
    padding-block: .5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (min-width: 450px){
    body{
        background-color: var(--Stone100);
    }

    .container-desktop{
        width: min(90svw, 770px);
        padding: 2rem;
        margin: 5rem auto;
        border-radius: 20px;
        background-color: var(--White);
    }

    img{
        border-radius: 10px;
        margin-bottom: 2rem;
    }

    .container-mobile{
        padding: 0;
    }

}